<div class="px-6 py-4">

    <!-- Divider -->
   
    <app-section-header title="Special offers"></app-section-header>

    <div class="border-b border-gray-300 mb-6"></div>
    

    <!-- Grid -->
    <app-carousel [items]="products" cardWidth="%" [showDots]="true">

        <ng-template let-product>
            <app-product-card [product]="product"></app-product-card>
        </ng-template>

    </app-carousel>
    
    <!-- special feature -->
    <div class="hidden lg:flex justify-evenly py-20 gap-[3vw]">
        @for (item of features; track $index) {
        <div class="flex items-center gap-1 ">
            <div>
                <img [src]="item.icon" class=" h-[6vh] ">
            </div>
            <div class="flex flex-col">
                <p class="font-semibold">{{ item.title }}</p>
                <p class="text-sm text-gray-500">{{ item.description }}</p>
            </div>
        </div>
        }
    </div>
</div>