<div class="px-6 py-4">
    <!-- Header -->
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Special offers</h2>
        <a class="text-blue-500 cursor-pointer">View all →</a>
    </div>

    <!-- Divider -->
    <div class="border-b mb-6"></div>

    <!-- Grid -->
    <app-carousel [items]="products" cardWidth="%" [showDots]="true">

        <ng-template let-product>
            <app-product-card [product]="product"></app-product-card>
        </ng-template>

    </app-carousel>
    
    <!-- special feature -->
    <div class="hidden lg:flex justify-evenly py-20 gap-[3vw]">
        @for (item of features; track $index) {
        <div class="flex items-center gap-1 ">
            <div>
                <img [src]="item.icon" class=" h-[clamp(6vh, 6vh, 6vh)] w-[clamp(6vw, 6vw, 6vw)]">
            </div>
            <div class="flex flex-col">
                <p class="font-semibold">{{ item.title }}</p>
                <p class="text-sm text-gray-500">{{ item.description }}</p>
            </div>
        </div>
        }
    </div>
</div>