<div class="px-6 py-4">

    <!-- Divider -->
   
    <app-section-header title="Special offers"></app-section-header>

    <div class="border-b border-gray-300 mb-6"></div>
    

    <!-- Grid -->
    <app-carousel [items]="products" cardWidth="%" [showDots]="true">

        <ng-template let-product>
            <app-product-card [product]="product"></app-product-card>
        </ng-template>

    </app-carousel>
    
    <!-- special feature -->
    <app-feature-strip [items]="features"></app-feature-strip>
</div>